@charset "UTF-8";

/* ------------------------------
/* base
/* ------------------------------ */
html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  color: #222;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}

/* ------------------------------
/* header
/* ------------------------------ */
.header {
  width: 100%;
  padding: 10px 0 10px;
}

.logo {
  width: 206px;
  height: 144px;
  margin: 0 auto;
  background: url('./img/logo.png') no-repeat;
  background-size: contain;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.global-nav {
  margin-top: 5px;
  text-align: center;
  list-style-type: none;
}

.global-nav ul {
  padding-inline-start: 0;
}

.global-nav .nav-item {
  display: inline-block;
  margin: 0 20px 50px;
  text-align: center;
}

.global-nav .nav-item a {
  text-align: center;
  margin: 0 10px;
  padding: 10px 0;
  color: #444;
  font-size: 1.5rem;
  white-space: nowrap;
  letter-spacing: 1px;
}

.global-nav .nav-item.active a,
.global-nav .nav-item a:hover {
  background: url('./img/current.png') top center no-repeat;
}

/* ------------------------------
/* main
/* ------------------------------ */
.main {
  display: block;
  width: 1300px;
  margin: 30px auto 40px;
}

.remark {
  text-align: center;
}

.snsitem {
  width: 320px;
}

.twitter {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0 15px;
  font-size: 1.4rem;
}

/* ------------------------------
/* footer
/* ------------------------------ */
.footer {
  width: 100%;
  padding: 10x 0;
  background-color: #f6f6f6;
}

.copyright {
  font-size: 0.9rem;
  padding: 5px 0 5px 24px;
}

/* ------------------------------
/* responsive
/* ------------------------------ */
@media screen and (max-width: 486px) {
  /* ------------------------------
  /* header
  /* ------------------------------ */
  .header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    margin: 0 0 30px;
    padding: 0;
    background-color: #ffffff;
  }
  
  .logo {
    width: 80px;
    height: 56px;
    margin: 3px 0 0 16px;
  }

  .global-nav {
    position: fixed;
    width: 100%;
    height: 56px;
  }
  
  .global-nav .nav-content {
    list-style-type: none;
    position: relative;
    transition: .5s;
    z-index: 1;
  }
  
  .global-nav .nav-content li, .global-nav .nav-content.open li {
    position: relative;
    width: 100%;
    text-align: left;
  }
  
  .global-nav .nav-icon {
    display: block;
    float: right;
    width: 28px;
    height: 16px;
    margin: 16px 16px 0 0;
    z-index: 2;
  }
  
  .global-nav .nav-icon .nav-bar {
    position: relative;
    display: block;
    width: 27px;
    height: 3px;
    background-color: #111;
  }
  
  .nav-bar:nth-child(1) {
    top: 0px;
  }
  
  .nav-bar:nth-child(2) {
    margin: 6px 0;
  }
  
  .nav-bar:nth-child(3) {
    top: 0px;
  }
  
  .nav-icon.open .nav-bar:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
  }

  .nav-icon.open .nav-bar:nth-child(2) {
    opacity: 0;
  }
  
  .nav-icon.open .nav-bar:nth-child(3) {
    transform: rotate(-45deg);
    top: -9px  ;
  }
  
  .global-nav .nav-content li ul{
    list-style-type: none;
    position: absolute;
    top: 56px;
    height: 0;
    padding: 0;
    margin: 0;
    transition: .5s;
  }
  
  .global-nav .nav-content.open li ul{
    list-style-type: none;
    position: absolute;
    top: 56px;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    transition: .5s;
    opacity: 0.9;
  }
  
  .global-nav .nav-content li ul li {
    overflow: hidden;
    height: 0;
    text-align: left;
    transition: .5s;
  }
  
  .global-nav .nav-content.open li ul li {
    overflow: visible;
    height: 35px;
    text-align: left;
    transition: .5s;
  }

  .global-nav .nav-content li ul .nav-item {
    margin: 0;
    padding: 5px;
  }


  /* ------------------------------
  /* main
  /* ------------------------------ */  
  .main {
    width: 90%;
    margin: 15px auto 20px;
    padding-top: 56px;
  }

  .snsitem {
    margin: 0 auto;
  }

  .tmp {
    display: block;
    width: 100px;
    height: 400px;
    background-color: #444;
  }
}
