@charset "UTF-8";

/*------------------------------*/
/* プランA
/*------------------------------*/
.project-nav {
  width: 80%;
  margin: 10px auto;
  box-shadow: 2px 0 #f6f6f6;
}

.project-nav ul {
  list-style-type: none;
  display: flex;
  padding-inline-start: 0;
  overflow-x: auto;
}

.project-nav .project-item {
  margin: 0 5px;
  padding: 5px;
  background-color: #f6f6f6;
  border-radius: 10px;
  text-align: center;
}

.project-nav .project-item a {
  text-align: center;
  color: #444;
  font-size: 1.4rem;
  letter-spacing: 1px;
  white-space: nowrap;
}

.project-icon {
  width: 32px;
  height: 32px;
}

.project-label {
  display: block;
  margin: 0 auto;
}

.tmp-img {
  display: block;
  width: 80%;
  height: 150px;
  margin: 0 auto;
  background-color: aquamarine;
  text-align: center;
  line-height: 150px;
}

/*------------------------------*/
/* プロジェクトサムネイル一覧
/*------------------------------*/
.section {
  font-family: fantasy;
  text-align: center;
  margin: 10px auto 0;
}

.project-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.article-box {
  display: block;
  width: 45%;
  height: 30%;
  margin: 10px 2.5%;
  padding: 0 15px;
  transition: opacity .15s;
}

.article-box:hover {
  opacity: 0.8;
}

.article-box .project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 10px 0;
}

.article-box .title {
  left: 0;
  display: block;
  margin: 20px auto;
  color: #555;
  font-size: 1.4rem;
  text-align: center;
}
